body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.body-image {
  background:
  linear-gradient(rgba(100, 100, 100, 0.7), rgba(80, 80, 80, 0.7)),
  url('../images/pc-repair.webp') center/cover no-repeat fixed;
  min-height: 100vh;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-navbar{
  min-height: calc(100vh - 51.4px);
}

.white {
  color: white;
}

/* Card Style */
.card {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  min-width: 350px;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
}

/* Badge Style */
.badge {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.email-badge,
.status-badge,
.priority-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: #0267C1;
  color: white;
}

.priority-1 {
  background-color: green;
  color: white;
}
.priority-2 {
  background-color: yellow;
  color: black;
}
.priority-3 {
  background-color: orange;
  color: white;
}
.priority-4 {
  background-color: red;
  color: white;
}

.priority-badge,
.status-badge {
  width: fit-content;
}

.status-1 {
  background-color: #6c757d;
  color: white;
}
.status-2 {
  background-color: #0dcaf0;
  color: white;
}
.status-3 {
  background-color: #198754;
  color: white;
}
.status-4 {
  background-color: #dc3545;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin-top: 2px;
  border-radius: 10px;
}
